<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head"></th:block>
<body>
<nav class="fixed-top">
    <th:block th:replace="fragments/navbar"></th:block>
</nav>
<div class="container-fluid">
    <hr style="height: 2px;" class="bg-info w-50 mt-5">
    <main class="mt-5">
        <h1 class="text-center text-info">Add Transistor</h1>
        <hr style="height: 2px;" class="bg-info w-50">

        <form th:object="${transistorBindingModel}" class="form w-50 mx-auto" th:action="@{/transistors/add}" th:method="POST">
            <div class="pictureID-and-gain-holder d-flex justify-content-between">
                <div class="form-group">
                    <label for="pictureID">Picture ID</label>
                    <input th:field="*{pictureID}" type="text" class="form-control form-input-rounded" id="pictureID" placeholder="Picture ID..." name="pictureID">
                    <small th:each = "e : ${#fields.errors('pictureID')}" th:text = "${e}" class="text-danger"> Name error</small>
                </div>
                <div class="form-group">
                    <label for="text">Gain</label>
                    <input th:field="*{gain}" type="text" class="form-control form-input-rounded" id="text" placeholder="Gain..." name="gain">
                    <small th:each = "e : ${#fields.errors('gain')}" th:text = "${e}" class="text-danger"> Name error</small>
                </div>
            </div>
            <div class="type-and-maxVoltage-holder d-flex justify-content-between">
                <div class="form-group">
                    <label for="text">Type</label>
                    <input th:field="*{type}" type="text" class="form-control form-input-rounded" id="type"  placeholder="Type..." name="type">
                    <small th:each = "e : ${#fields.errors('type')}" th:text = "${e}" class="text-danger"> Name error</small>
                </div>
                <div class="form-group">
                    <label for="maxVoltage">Max Voltage</label>
                    <input th:field="*{maxVoltage}" type="text" class="form-control form-input-rounded" id="maxVoltage" placeholder="Max Voltage..." name="maxVoltage">
                    <small th:each = "e : ${#fields.errors('maxVoltage')}" th:text = "${e}" class="text-danger"> Name error</small>
                </div>
            </div>
            <div class="maxCurrent-and-maxFrequency-holder d-flex justify-content-between">
                <div class="form-group">
                    <label for="maxCurrent">Max Current</label>
                    <input th:field="*{maxCurrent}" type="text" class="form-control form-input-rounded" id="maxCurrent"  placeholder="Max Current..." name="maxCurrent">
                    <small th:each = "e : ${#fields.errors('maxCurrent')}" th:text = "${e}" class="text-danger"> Name error</small>
                </div>
                <div class="form-group">
                    <label for="maxFrequency">Max Frequency</label>
                    <input th:field="*{maxFrequency}" type="text" class="form-control form-input-rounded" id="maxFrequency" placeholder="Max Frequency..." name="maxFrequency">
                    <small th:each = "e : ${#fields.errors('maxFrequency')}" th:text = "${e}" class="text-danger"> Name error</small>
                </div>
            </div>
            <div class="description-holder d-flex justify-content-between">
                <div class="form-group">
                    <label for="text">Description</label>
                    <input size=100 th:field="*{description}" type="text" class="form-control form-input-rounded" id="text" placeholder="Description..." name="description">
                    <small th:each = "e : ${#fields.errors('description')}" th:text = "${e}" class="text-danger"> Name error</small>
                </div>
            </div>

            <hr style="height: 2px;" class="bg-info">
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn-rounded btn btn-info w-25">Add Transistor</button>
            </div>
        </form>
    </main>


</div>
</body>
<footer>
    <th:block th:replace="fragments/footer"></th:block>
</footer>

</html>