<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head"></th:block>
<body>
<nav class="fixed-top">
    <th:block th:replace="fragments/navbar"></th:block>
</nav>
<div class="container-fluid">
    <hr style="height: 2px;" class="bg-info w-50 mt-5">
    <main class="mt-5">
        <h1 class="text-center text-info">Edit Resistor Parameters</h1>
        <hr style="height: 2px;" class="bg-info w-50">

        <form th:object="${resistorBindingModel}" class="form w-50 mx-auto" th:action="@{/resistors/edit/{id}(id=*{id})}" th:method="POST">
            <div class="pictureID-and-precision-holder d-flex justify-content-between">
                <div class="form-group">
                    <label for="pictureID">Picture ID</label>
                    <input th:field="*{pictureID}" type="text" class="form-control form-input-rounded" id="pictureID" placeholder="Picture ID..." name="pictureID">
                    <small th:each = "e : ${#fields.errors('pictureID')}" th:text = "${e}" class="text-danger"> Name error</small>
                </div>
                <div class="form-group">
                    <label for="precision">Precision</label>
                    <input th:field="*{precision}" type="text" class="form-control form-input-rounded" id="precision" placeholder="Precision..." name="precision">
                    <small th:each = "e : ${#fields.errors('precision')}" th:text = "${e}" class="text-danger"> Name error</small>
                </div>
            </div>
            <div class="type-and-resistance-holder d-flex justify-content-between">
                <div class="form-group">
                    <label for="type">Type</label>
                    <input th:field="*{type}" type="text" class="form-control form-input-rounded" id="type"  placeholder="Type..." name="type">
                    <small th:each = "e : ${#fields.errors('type')}" th:text = "${e}" class="text-danger"> Name error</small>
                </div>
                <div class="form-group">
                    <label for="resistance">Resistance</label>
                    <input th:field="*{resistance}" type="text" class="form-control form-input-rounded" id="resistance" placeholder="Resistance..." name="resistance">
                    <small th:each = "e : ${#fields.errors('resistance')}" th:text = "${e}" class="text-danger"> Name error</small>
                </div>
            </div>
            <div class="maxpower-holder d-flex justify-content-between">
                <div class="form-group">
                    <label for="maxPower">Max Power</label>
                    <input th:field="*{maxPower}" type="text" class="form-control form-input-rounded" id="maxPower"  placeholder="Max Power..." name="maxPower">
                    <small th:each = "e : ${#fields.errors('maxPower')}" th:text = "${e}" class="text-danger"> Name error</small>
                </div>

            </div>
            <div class="description-holder d-flex justify-content-between">

                <div class="form-group">
                    <label for="description">Description</label>
                    <input size=100 th:field="*{description}" type="text" class="form-control form-input-rounded" id="description" placeholder="Description..." name="description">
                    <small th:each = "e : ${#fields.errors('description')}" th:text = "${e}" class="text-danger"> Name error</small>
                </div>
            </div>

            <hr style="height: 2px;" class="bg-info">
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn-rounded btn btn-info w-25">Send changes</button>
            </div>
        </form>
    </main>


</div>
</body>
<footer>
    <th:block th:replace="fragments/footer"></th:block>
</footer>

</html>